<div class="scg_logo">
	<a href="{{root}}en/home.html"><img src="{{root}}assets/logo_no_text.png" class="scg_logo"></img></a>
</div>

<div class="scg_nav">
	<a href="{{root}}en/industries.html">Industries</a>
	<a href="{{root}}en/services.html">Services</a>
	<a href="{{root}}en/techweenjoy.html">Tech We Enjoy</a>
	<a href="{{root}}en/about.html">About</a>
	<a href="{{root}}en/careers.html">Careers</a>
</div>

<div class="scg_hamburger">
	<div class="scg_hamburger_container" onclick="hamburgerChange(this)">
		<div class="scg_hamburger_line1"></div>
		<div class="scg_hamburger_line2"></div>
		<div class="scg_hamburger_line3"></div>
	</div>
</div>
